<!--NavBar-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/"><img src="/Assets\images/Teamlogo.png" alt="Teamlogo"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <% if(title=="Home") { %>
              <a class="nav-link active" href="/home">
            <% } else {%>
              <a class="nav-link" href="/home">
            <% } %>  
            <i class="fa-solid fa-house-chimney-user"></i> Home</a>
          </li>
          <li class="nav-item">
            <% if(title=="Surveys") { %>
              <a class="nav-link active" href="/surveyslist">
            <% } else {%>
              <a class="nav-link" href="/surveyslist">
            <% } %>  
            <i class="fa-solid fa-clipboard-list"></i> Surveys</a>
          </li>

          <% if(typeof displayName == 'string' && displayName) { %>
            <li class = "nav-item">
              <a href = "/logout" class = "nav-link">
                <i class = "fas fa-sign-out-alt"></i> Logout
              </a>
            </li>
            <li class = "navbar-text">
              <i class = "fas fa-lg fa-user"></i> Welcome, <%= displayName %>
            </li>
          <% } else {%>
            <li class = "nav-item">
              <a href = "/login" class = "nav-link">
                <i class = "fas fa-lg fa-sign-in-alt"></i> Login
              </a>
            </li>
          <% } %>
        </ul>
      </div>
    </div>
  </nav>