<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <a class="nav-link" href = "/list">surveys</a>
    <img width = "300" alt = "Teamlogo" src = "../public/assets/images/Teamlogo.jpg">
  </body>
</html>
